body {
	main-clr-wht: #e6e6e6;
	margin: 0;
	padding: 0;
}
.background {
	color: var(main-clr-wht);
	height: 100vh;
  	min-width: 360px;
  	display: flex;
	position: absolute;
  	justify-content: center;
  	align-items: center;
  	background: url(background.png);
  	animation-name: scroll;
  	animation: scroll 20s linear infinite;
}
.background::before {
	content: "";
	height: 100vh;
  	min-width: 100vw;
  	background-color: rgba(255, 255, 255, 0.25);
}
.dropdown-item {
	display: flex;
}
.main-link {
	width: 80%;
	text-decoration: none;
	text-decoration-line: none;
	color: #dee2e6;
}
.main-link:hover {
	cursor: pointer;
	color: #dee2e6;
}
.mini-link {

}
@keyframes scroll {
   100%{
    background-position:-512px -512px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}
